{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact</h1>
    <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Contact Information</div>
        <div class="card-body">
            <h5 class="card-title">Customer Care</h5>
            <p class="card-text">Name: Justin K. Mann </br> Mobile: 1800123123123 </br> Email: justin@extremedealers.com </p>
        </div>
    </div>
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Contact Information</div>
        <div class="card-body">
            <h5 class="card-title">Lead Salesman</h5>
            <p class="card-text">Name: Killian B. Garg </br> Mobile: 5648222135 </br> Email: killian@extremedealers.com </p>
        </div>
    </div>
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Contact Information</div>
        <div class="card-body">
            <h5 class="card-title">Customer Care</h5>
            <p class="card-text">Name: Jenna O Singh </br> Mobile: 123004567 </br> Email: jenna@extremedealers.com </p>
        </div>
    </div>
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Contact Information</div>
        <div class="card-body">
            <h5 class="card-title">Customer Care</h5>
            <p class="card-text">Name: Camella Kelly </br> Mobile: 9696858575 </br> Email: camella@extremedealers.com </p>
        </div>
    </div>
            <div class="card text-dark bg-light mb-2" style="max-width: 40rem;">
        <div class="card-header">Visiting Address</div>
        <div class="card-body">
            <h5 class="card-text">Best Cars HQ</h5>
            <p class="card-text">Sidewinder Avenue 369, Austin, TX, US</br>Phone: 18002356565 </br> Email: info@extremedealers.com </p>
        </div>
    </div>
    </div>
</div>
{% endblock %}